/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(143, 6, 6);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 555px;
    width: 1050px;
    background-image: url("ciclo\ menstrual.jpg");
    background-repeat: no-repeat;
    float: right;
}
.img2{
    height: 650px;
    width: 1500px;
    background-image: url("fase\ menstrual.png");
    background-repeat: no-repeat;
    float: left;
}
.img3{
    height: 300px;
    width: 700px;
    background-image: url("fase\ folicular.png");
    background-repeat: no-repeat;
    float: left;
}
.img4{
    height: 400px;
    width:  800px;
    background-image: url("ovulación.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img5{
    height: 850px;
    width:  1000px;
    background-image: url("fase\ lútea.png");
    background-repeat: no-repeat;
    float: left;
}
.img6{
    height: 300px;
    width:  250px;
    background-image: url("configuración\ electrónica.png");
    background-repeat: no-repeat;
    float: left;
}
.img7{
    height: 250px;
    width:  250px;
    background-image: url("ley\ de\ ohm.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img8{
    height: 200px;
    width:  800px;
    background-image: url("ley\ de\ KCL.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img9{
    height: 200px;
    width:  400px;
    background-image: url("Ley\ de\ KVL.png");
    background-repeat: no-repeat;
    float: left;
}
.img10{
    height: 250px;
    width:  1000px;
    background-image: url("función\ de\ transferencia.png");
    background-repeat: no-repeat;
    float: left;
}
.img11{
    height: 250px;
    width:  1000px;
    background-image: url("Respuesta\ en\ frecuencia\ de\ filtros.png");
    background-repeat: no-repeat;
    float: left;
}
.img12{
    height: 90px;
    width:  250px;
    background-image: url("matematicamente\ se\ expresa\ como\(1\).jpg");
    background-repeat: no-repeat;
    float: left;
}
.img13{
    height: 90px;
    width:  250px;
    background-image: url("img\ 13.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img14{
    height: 90px;
    width:  250px;
    background-image: url("img14.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img15{
    height: 90px;
    width:  250px;
    background-image: url("img15.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img16{
    height: 90px;
    width:  250px;
    background-image: url("img16.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img17{
    height: 800px;
    width:  1500px;
    background-image: url("anorexia.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img18{
    height: 800px;
    width:  1500px;
    background-image: url("bulimia.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img19{
    height: 800px;
    width:  800px;
    background-image: url("dieta\ equilibrada.webp");
    background-repeat: no-repeat;
    float: left;
}
.img20{
    height: 200px;
    width:  300px;
    background-image: url("beber\ agua.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img21{
    height: 210px;
    width:  250px;
    background-image: url("hacer\ ejercicio.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img22{
    height: 200px;
    width:  250px;
    background-image: url("dormir.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img23{
    height: 200px;
    width:  250px;
    background-image: url("higiene.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img24{
    height: 215px;
    width:  250px;
    background-image: url("buena\ postura.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img25{
    height: 215px;
    width:  250px;
    background-image: url("chequeos\ médicos.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img26{
    height: 215px;
    width:  250px;
    background-image: url("estrés.png");
    background-repeat: no-repeat;
    float: left;
}
.img27{
    height: 215px;
    width:  250px;
    background-image: url("fumar\,\ tomar.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img28{
    height: 215px;
    width:  250px;
    background-image: url("relaciones\ saludables.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img29{
    height: 215px;
    width:  250px;
    background-image: url("descansos\ regulares.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img30{
    height: 225px;
    width:  250px;
    background-image: url("salud\ mental.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img31{
    height: 225px;
    width:  250px;
    background-image: url("comida\ chatarra.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img32{
    height: 225px;
    width:  250px;
    background-image: url("sedentarismo.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img33{
    height: 205px;
    width:  250px;
    background-image: url("dormir\ poco.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img34{
    height: 205px;
    width:  250px;
    background-image: url("abuso\ de\ sustancias.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img35{
    height: 205px;
    width:  250px;
    background-image: url("saltarse\ comidas.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img36{
    height: 205px;
    width:  250px;
    background-image: url("uso\ exesivo\ de\ dispositivos.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img37{
    height: 225px;
    width:  250px;
    background-image: url("comer\ en\ exeso.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img38{
    height: 225px;
    width:  250px;
    background-image: url("no\ beber\ agua.png");
    background-repeat: no-repeat;
    float: left;
}
.img39{
    height: 225px;
    width:  250px;
    background-image: url("sin\ higiene\ p.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img40{
    height: 225px;
    width:  250px;
    background-image: url("aislamiento\ sovial.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img41{
    height: 225px;
    width:  250px;
    background-image: url("exceso\ de\ cafeína.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img42{
    height: 225px;
    width:  250px;
    background-image: url("ignorar\ sintomas\ de\ salud.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img43{
    height: 225px;
    width:  850px;
    background-image: url("img43.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img44{
    height: 225px;
    width:  850px;
    background-image: url("img44.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img45{
    height: 700px;
    width:  1500px;
    background-image: url("img45.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img46{
    height: 700px;
    width:  1500px;
    background-image: url("img46.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img47{
    height: 700px;
    width:  1500px;
    background-image: url("img47.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img48{
    height: 700px;
    width:  1500px;
    background-image: url("img48.jpg");
    background-repeat: no-repeat;
    float: left;
}